DTF/source control/M365Solution/Microsoft.Flow/flows/304db7e8-f63b-4684-8e30-f6105b0f915c/definition.json
{"name":"7a73e9dc-80e6-4f02-98c0-6d54bdd5d0f8","id":"/providers/Microsoft.Flow/flows/7a73e9dc-80e6-4f02-98c0-6d54bdd5d0f8","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"M365 Provisioning Tool - PowerApp_SendRequest","definition":{"metadata":{"workflowEntityId":"b5a5faaf-717a-ed11-81ad-00224811425f","processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"5de06f4a-d20e-40c8-ac7e-448c16983aa6","type":"User","tenantId":"bda528f7-fca9-432f-bc98-bd7e90d40906"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-05-01T20:16:11.6547411Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"79867ba9-f4e2-45d8-8b98-abbb01c0a3aa"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"RunaChildFlow_data":{"type":"string","description":"send data","x-ms-powerflows-param-ispartial":false},"RunaChildFlow_requesting_user_email":{"type":"string"},"RunaChildFlow_type":{"type":"string","description":"send type","x-ms-powerflows-param-ispartial":false},"RunaChildFlow-SendRequest_filecontentBytes":{"type":"string","format":"byte","x-ms-powerflows-param-ispartial":false},"RunaChildFlow-SendRequest_filename":{"type":"string","x-ms-powerflows-param-ispartial":false}},"required":["RunaChildFlow_data","RunaChildFlow_requesting_user_email","RunaChildFlow_type","RunaChildFlow-SendRequest_filecontentBytes","RunaChildFlow-SendRequest_filename"]}}}},"actions":{"Respond_to_PowerApp":{"runAfter":{"Compose_-_SendRequest_Response":["Succeeded"]},"metadata":{"operationMetadataId":"c68ce863-9bb1-45c8-9462-d1b88efea68f"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"response":"@{outputs('Compose_-_SendRequest_Response')}"},"schema":{"type":"object","properties":{"response":{"title":"response","x-ms-dynamically-added":true,"type":"string"}}}}},"Compose_-_SendRequest_Response":{"runAfter":{"Condition_-_Check_for_File_Upload":["Succeeded"]},"metadata":{"operationMetadataId":"042688ea-01f5-402b-a70d-518f9a003b2d"},"type":"Compose","inputs":"@body('Run_a_Child_Flow_-_SendRequest_NoFile')?['response']"},"Condition_-_Check_for_File_Upload":{"actions":{"Run_a_Child_Flow_-_SendRequest_NoFile":{"runAfter":{},"metadata":{"operationMetadataId":"5a4534f6-4ca5-49ff-9381-5639799e2040"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"dda4e029-717a-ed11-81ad-00224893bf1c"},"body":{"text":"@triggerBody()['RunaChildFlow_data']","text_1":"@triggerBody()['RunaChildFlow_requesting_user_email']","text_2":"@triggerBody()['RunaChildFlow_type']","key-button-date":"0","location":{"fullAddress":"x","address":{"countryOrRegion":"x","city":"x","state":"x","street":"x","postalCode":"x"},"coordinates":{"latitude":1,"longitude":1}},"file":{"name":"nofile"}}}}},"runAfter":{},"else":{"actions":{"Run_a_Child_Flow_-_SendRequest_-WithFile":{"runAfter":{},"metadata":{"operationMetadataId":"29855fb5-99ee-4d6c-9b65-178a6223e8a6"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"dda4e029-717a-ed11-81ad-00224893bf1c"},"body":{"text":"@triggerBody()['RunaChildFlow_data']","text_1":"@triggerBody()['RunaChildFlow_requesting_user_email']","text_2":"@triggerBody()['RunaChildFlow_type']","key-button-date":"x","location":{"fullAddress":"x","address":{"countryOrRegion":"x","city":"x","state":"x","street":"x","postalCode":"x"},"coordinates":{"latitude":1,"longitude":1}},"file":{"name":"@triggerBody()['RunaChildFlow-SendRequest_filename']","contentBytes":"@triggerBody()['RunaChildFlow-SendRequest_filecontentBytes']"}}}}}},"expression":{"equals":["@triggerBody()['RunaChildFlow-SendRequest_filename']","nofile"]},"metadata":{"operationMetadataId":"f8217c96-455a-4926-8093-c9b9860931de"},"type":"If"}}},"connectionReferences":{},"flowFailureAlertSubscribed":false,"isManaged":false}}