DTF/source control/M365Solution/Microsoft.Flow/flows/b4e6ce25-b561-4c42-948a-e5a722c90724/definition.json
{"name":"acde9863-a346-4080-9de6-09ffb71cf8cc","id":"/providers/Microsoft.Flow/flows/acde9863-a346-4080-9de6-09ffb71cf8cc","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"M365 Provisioning Tool - PowerApp_GetRequest","definition":{"metadata":{"workflowEntityId":"769c1a47-727a-ed11-81ad-00224893bd7a","processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"5de06f4a-d20e-40c8-ac7e-448c16983aa6","type":"User","tenantId":"bda528f7-fca9-432f-bc98-bd7e90d40906"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-05-01T18:44:49.7093335Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"5e2ba348-d2e6-4c52-a12b-41440fa44fe2"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"RunaChildFlow_id":{"type":"string"},"RunaChildFlow-GetRequest_type":{"type":"string","description":"request type","x-ms-powerflows-param-ispartial":false},"RunaChildFlow-GetRequest_requesting_user_email":{"type":"string"}},"required":["RunaChildFlow_id","RunaChildFlow-GetRequest_type","RunaChildFlow-GetRequest_requesting_user_email"]}}}},"actions":{"Run_a_Child_Flow_-_GetRequest":{"runAfter":{},"metadata":{"operationMetadataId":"b355a7c9-02f9-416c-9664-78839b43270d"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"26ed15a4-707a-ed11-81ad-000d3acac3fc"},"body":{"text":"@triggerBody()['RunaChildFlow_id']","text_1":"@triggerBody()['RunaChildFlow-GetRequest_type']","text_2":"@triggerBody()['RunaChildFlow-GetRequest_requesting_user_email']"}}},"Respond_to_a_Power_App_Call":{"runAfter":{"Compose_-_agency_response":["Succeeded"]},"metadata":{"operationMetadataId":"626d84f1-134d-4d6e-b822-ecba8577b496"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"response":"@{outputs('Compose_-_response')}","ocio":"@{outputs('Compose_-_ocio_response')}","agency":"@{outputs('Compose_-_agency_response')}"},"schema":{"type":"object","properties":{"response":{"title":"response","x-ms-dynamically-added":true,"type":"string"},"ocio":{"title":"ocio","x-ms-dynamically-added":true,"type":"string"},"agency":{"title":"agency","x-ms-dynamically-added":true,"type":"string"}}}}},"Compose_-_response":{"runAfter":{"Run_a_Child_Flow_-_GetRequest":["Succeeded"]},"metadata":{"operationMetadataId":"abf9edaf-b975-43ab-a3b7-f0df97a7c7e1"},"type":"Compose","inputs":"@body('Run_a_Child_Flow_-_GetRequest')?['response']"},"Compose_-_ocio_response":{"runAfter":{"Compose_-_response":["Succeeded"]},"metadata":{"operationMetadataId":"321fd6d3-a1a4-478e-b5eb-38735d56e09a"},"type":"Compose","inputs":"@body('Run_a_Child_Flow_-_GetRequest')?['ocio']"},"Compose_-_agency_response":{"runAfter":{"Compose_-_ocio_response":["Succeeded"]},"metadata":{"operationMetadataId":"6ab9bf3f-ee67-4120-a2f9-73fa66a47a5c"},"type":"Compose","inputs":"@body('Run_a_Child_Flow_-_GetRequest')?['agency']"}}},"connectionReferences":{},"flowFailureAlertSubscribed":false,"isManaged":false}}