DTF/source control/M365Solution/Microsoft.Flow/flows/a2560cc2-b0a3-4462-8bc0-bf03d0f67731/definition.json
{"name":"4cfc5a14-703a-12bd-a76d-221d06a04e1c","id":"/providers/Microsoft.Flow/flows/4cfc5a14-703a-12bd-a76d-221d06a04e1c","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"M365 Provisioning Tool - PowerApp_CheckSite","definition":{"metadata":{"workflowEntityId":"1704c22e-26a2-ed11-aad1-002248933d22","processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"55385d0e-2d5a-481d-8662-553a07dcc6c4","type":"User","tenantId":"bda528f7-fca9-432f-bc98-bd7e90d40906"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-04-28T18:43:38.5336728Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"d01609bd-1847-4582-88dc-3149bc920d05"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"RunaChildFlow_site_url_name":{"type":"string"}},"required":["RunaChildFlow_site_url_name"]}}}},"actions":{"Compose_-_Response":{"runAfter":{"Run_a_Child_Flow_-_Site_Check":["Succeeded"]},"metadata":{"operationMetadataId":"0926b7d6-3db0-4197-98ed-4578ee65dae2"},"type":"Compose","inputs":"@body('Run_a_Child_Flow_-_Site_Check')?['response']"},"Respond_to_PowerApp":{"runAfter":{"Compose_-_Response":["Succeeded"]},"metadata":{"operationMetadataId":"b560a92e-b73d-4090-8629-b6e4b547d5b0"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"response":"@{outputs('Compose_-_Response')}"},"schema":{"type":"object","properties":{"response":{"title":"response","x-ms-dynamically-added":true,"type":"string"}}}}},"Run_a_Child_Flow_-_Site_Check":{"runAfter":{},"metadata":{"operationMetadataId":"c07f163c-07a3-4259-9cbc-d40193cde3cd"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"520bf4f7-f49d-ed11-aad1-000d3acc0e54"},"body":{"text":"@triggerBody()['RunaChildFlow_site_url_name']"}}}}},"connectionReferences":{},"flowFailureAlertSubscribed":false,"isManaged":false}}