DTF/source control/M365Solution/Microsoft.Flow/flows/3177dab3-5173-4eec-b2bc-946b94c5d707/definition.json
{"name":"9c130910-2108-49b6-ac84-f2ac29af8c6f","id":"/providers/Microsoft.Flow/flows/9c130910-2108-49b6-ac84-f2ac29af8c6f","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"M365 Provisioning Tool - PowerApp_GetRequests","definition":{"metadata":{"workflowEntityId":"af8d3517-727a-ed11-81ad-00224811425f","processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"5de06f4a-d20e-40c8-ac7e-448c16983aa6","type":"User","tenantId":"bda528f7-fca9-432f-bc98-bd7e90d40906"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-05-03T14:49:38.8995051Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"431cb4e9-0300-48b6-b9d0-360bcf9ac05e"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"useremail","type":"string","x-ms-dynamically-added":true,"description":"Requesting User Email","x-ms-content-hint":"TEXT"},"text_1":{"title":"type","type":"string","x-ms-dynamically-added":true,"description":"Data Request Type","x-ms-content-hint":"TEXT"},"text_2":{"title":"requestid","type":"string","x-ms-dynamically-added":true,"description":"Request ID","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2"]}}}},"actions":{"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Compose_-_actions":["Succeeded"]},"metadata":{"operationMetadataId":"193a732a-3d7a-47ef-8c9e-5fdde2939953"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"response":"@{outputs('Compose_-_response')}","agencies":"@{outputs('Compose_-_agencies')}","template":"@{outputs('Compose_-_template')}","approver":"@{outputs('Compose_-_approver')}","config":"@{outputs('Compose_-_config')}","allrequests":"@{outputs('Compose_-_allrequests')}","myrequests":"@{outputs('Compose_-_myrequests')}","allapprovals":"@{outputs('Compose_-_allapprovals')}","actions":"@{outputs('Compose_-_actions')}"},"schema":{"type":"object","properties":{"response":{"title":"response","x-ms-dynamically-added":true,"type":"string"},"agencies":{"title":"agencies","x-ms-dynamically-added":true,"type":"string"},"template":{"title":"template","x-ms-dynamically-added":true,"type":"string"},"approver":{"title":"approver","x-ms-dynamically-added":true,"type":"string"},"config":{"title":"config","x-ms-dynamically-added":true,"type":"string"},"allrequests":{"title":"allrequests","x-ms-dynamically-added":true,"type":"string"},"myrequests":{"title":"myrequests","x-ms-dynamically-added":true,"type":"string"},"allapprovals":{"title":"allapprovals","x-ms-dynamically-added":true,"type":"string"},"actions":{"title":"actions","x-ms-dynamically-added":true,"type":"string"}}}}},"Run_a_Child_Flow_-_GetRequests":{"runAfter":{},"metadata":{"operationMetadataId":"86a2e487-f1a5-4dad-b10b-460aa665fe26"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"effa5372-717a-ed11-81ad-000d3acac3fc"},"body":{"text":"@triggerBody()['text']","text_1":"@triggerBody()['text_1']","text_2":"@triggerBody()['text_2']"}}},"Compose_-_response":{"runAfter":{"Run_a_Child_Flow_-_GetRequests":["Succeeded"]},"metadata":{"operationMetadataId":"84b212ad-9d19-4369-bbe6-659e69c47b1a"},"type":"Compose","inputs":"@body('Run_a_Child_Flow_-_GetRequests')?['response']"},"Compose_-_agencies":{"runAfter":{"Compose_-_response":["Succeeded"]},"metadata":{"operationMetadataId":"6765e6e0-57fc-4664-9fd0-424a808069bb"},"type":"Compose","inputs":"@body('Run_a_Child_Flow_-_GetRequests')?['agencies']"},"Compose_-_approver":{"runAfter":{"Compose_-_agencies":["Succeeded"]},"metadata":{"operationMetadataId":"f6dd34be-1789-4d13-903a-5dce105031a6"},"type":"Compose","inputs":"@body('Run_a_Child_Flow_-_GetRequests')?['approvergroup']"},"Compose_-_template":{"runAfter":{"Compose_-_approver":["Succeeded"]},"metadata":{"operationMetadataId":"bc12dee4-c74e-4153-b173-6299450b52a7"},"type":"Compose","inputs":"@body('Run_a_Child_Flow_-_GetRequests')?['template']"},"Compose_-_config":{"runAfter":{"Compose_-_template":["Succeeded"]},"metadata":{"operationMetadataId":"3b177f46-28f1-4c27-8123-91b509aa04a9"},"type":"Compose","inputs":"@body('Run_a_Child_Flow_-_GetRequests')?['config']"},"Compose_-_myrequests":{"runAfter":{"Compose_-_config":["Succeeded"]},"metadata":{"operationMetadataId":"da8f1949-1d58-4509-a8d2-dc4b5ccdbba2"},"type":"Compose","inputs":"@body('Run_a_Child_Flow_-_GetRequests')?['myrequests']"},"Compose_-_allrequests":{"runAfter":{"Compose_-_myrequests":["Succeeded"]},"metadata":{"operationMetadataId":"16adfbfc-4e5e-43ae-a909-eb43bfdd4621"},"type":"Compose","inputs":"@body('Run_a_Child_Flow_-_GetRequests')?['allrequests']"},"Compose_-_allapprovals":{"runAfter":{"Compose_-_allrequests":["Succeeded"]},"metadata":{"operationMetadataId":"34ec44f0-3c01-44d8-8fcd-6ff46f1d03a9"},"type":"Compose","inputs":"@body('Run_a_Child_Flow_-_GetRequests')?['allapprovals']"},"Compose_-_actions":{"runAfter":{"Compose_-_allapprovals":["Succeeded"]},"metadata":{"operationMetadataId":"f4a32b4b-af22-4b8e-b3d0-9b264f0e8fe1"},"type":"Compose","inputs":"@body('Run_a_Child_Flow_-_GetRequests')?['actions']"}}},"connectionReferences":{},"flowFailureAlertSubscribed":false,"isManaged":false}}